*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #464849;
    color:#ffffff;
}

#overlay{
    border:2px solid #641e1e;
    padding:12px;
}

.post-categories li {
    display: inline;
}
hr{
    width: 100%;
    padding: 30px 0;
}
.menu{
    list-style: none;
    text-decoration: none;
    text-align: center;
}
.menu li {
	display: inline;
    text-decoration: none;
}

a{
    text-decoration: none !important;
    text-align: center;
    text-transform: uppercase;
    justify-items: space-between;
    padding:0 25px;
}