*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(166, 186, 204);
    color:#ffffff;
}

.post-categories li {
    display: inline;
}
hr{
    width: 100%;
    padding: 30px 0;
}
.menu{
    list-style: none;
    text-decoration: none;
    text-align: center;
}
.menu li {
	display: inline;
    text-decoration: none;
}